<?xml version="1.0" encoding="UTF-8" ?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <display-name>LoginServlet</display-name>
    <servlet-class>com.dm.ebooks.controller.LoginServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <display-name>RegisterServlet</display-name>
    <servlet-class>com.dm.ebooks.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <display-name>BookServlet</display-name>
        <servlet-class>com.dm.ebooks.controller.BookInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/bookinfo</url-pattern>
    </servlet-mapping>
  <servlet>
    <servlet-name>chunkInfoServlet</servlet-name>
      <display-name>chunkInfoServletServlet</display-name>

    <servlet-class>com.dm.ebooks.controller.ChunkInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chunkInfoServlet</servlet-name>
    <url-pattern>/ChunkInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <display-name>logoutServlet</display-name>
    <servlet-class>com.dm.ebooks.controller.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <display-name>UserServlet</display-name>
    <servlet-class>com.dm.ebooks.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <display-name>CartServlet</display-name>
    <servlet-class>com.dm.ebooks.controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MergeServlet</servlet-name>
    <display-name>MergeServlet</display-name>
    <servlet-class>com.dm.ebooks.controller.MergeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MergeServlet</servlet-name>
    <url-pattern>/merge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HistoryServlet</servlet-name>
    <display-name>HistoryServlet</display-name>
    <servlet-class>com.dm.ebooks.controller.HistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/historyServlet</url-pattern>
  </servlet-mapping>

</web-app>
